{% block image_uploader_widget %}
    {%- set attr = attr|merge({'class': 'image-uploader js-image-uploader', 'data-index': form.children|length, 'data-sortable': sortable, 'data-min-height': min_height, 'data-min-width': min_width, 'data-limit': limit - form.children|length}) -%}
    <div {{ block('widget_container_attributes') }}>
        <template>
            {{ form_widget(prototype) }}
        </template>
        <label class="image-uploader__file-picker">
            <input type="file" class="js-image-uploader-file-picker" accept="image/*" {{ limit > 1 ? 'multiple' }}>
        </label>
        {%- for child in form -%}
            {{- form_widget(child) -}}
        {%- endfor -%}
    </div>
{% endblock %}

{% block uploaded_image_widget %}
    <div class="image-uploader__uploaded-image js-uploaded-image" style="background-image: url('{{ media_cropped_image(form.media.vars.value, 250, 250) }}');">
        <button type="button" class="image-uploader__remove-button js-uploaded-image-remove-button">Törlés</button>
        {{ form_widget(form.media, {'attr': {'class': 'js-uploaded-image-media-id'}}) }}
        {{ form_widget(form.position, {'attr': {'class': 'js-uploaded-image-position'}}) }}
    </div>
{% endblock %}

{% block file_uploader_widget %}
    <div class="file-uploader js-file-uploader">
        <label class="file-uploader__file-picker">
            <input type="file" class="js-file-uploader-file-picker">
        </label>
        {{ form_widget(form, {'attr': {'class': 'file-uploader__media-id-input js-file-uploader-media-id'}}) }}
    </div>
{% endblock %}

