{% block image_uploader_widget %}
    <div class="image-uploader image-uploader--single js-image-uploader js-single-image-uploader" data-min-height="{{ min_height }}" data-min-width="{{ min_width }}" data-limit="{{ form.vars.data ? 0 : 1 }}">
        <label class="image-uploader__file-picker">
            <input type="file" class="js-image-uploader-file-picker" accept="image/*">
            <span>{{ file_picker_label }}</span>
        </label>

        <div class="image-uploader__uploaded-image js-uploaded-image" style="background-image: url('{{ form.vars.data ? media_cropped_image(form.vars.data, 250, 250) }}');">
            <button type="button" class="image-uploader__remove-button js-uploaded-image-remove-button">törlés</button>
            {{ form_widget(form, {'attr': {'class': 'image-uploader__media-id-input js-uploaded-image-media-id'}}) }}
        </div>
    </div>
{% endblock %}

{% block multiple_image_uploader_widget %}
    {%- set attr = attr|merge({'class': 'image-uploader image-uploader--multiple js-image-uploader js-multiple-image-uploader', 'data-index': form.children|length, 'data-sortable': sortable, 'data-min-height': min_height, 'data-min-width': min_width, 'data-limit': limit - form.children|length}) -%}
    <div {{ block('widget_container_attributes') }}>
        <template>
            {{ form_widget(prototype) }}
        </template>
        <label class="image-uploader__file-picker">
            <input type="file" class="js-image-uploader-file-picker" accept="image/*" {{ limit > 1 ? 'multiple' }}>
            <span>{{ file_picker_label }}</span>
        </label>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block uploaded_image_widget %}
    <div class="image-uploader__uploaded-image js-uploaded-image" style="background-image: url('{{ media_cropped_image(form.media.vars.data, 250, 250) }}');">
        <button type="button" class="image-uploader__remove-button js-uploaded-image-remove-button">törlés</button>
        {{ form_widget(form.media, {'attr': {'class': 'js-uploaded-image-media-id'}}) }}
        {{ form_widget(form.position, {'attr': {'class': 'js-uploaded-image-position'}}) }}
    </div>
{% endblock %}

{% block file_uploader_widget %}
    <div class="file-uploader js-file-uploader {{ form.vars.data ? 'is-uploaded' }}">
        <label class="file-uploader__file-picker">
            <input type="file" class="js-file-uploader-file-picker">
        </label>
        <a href="{{ form.vars.data ? media_file(form.vars.data) }}" class="file-uploader__uploaded-file js-file-uploader-uploaded-file" download="{{ file_name }}">{{ file_name }}</a>
        {% if deletable %}
            <button type="button" class="file-uploader__remove-button js-file-uploader-remove-button">törlés</button>
        {% endif %}
        {{ form_widget(form, {'attr': {'class': 'file-uploader__media-id-input js-file-uploader-media-id'}}) }}
    </div>
{% endblock %}
